body {
  margin: 0;
  min-width: fit-content;
  font-family: 'Montserrat', sans-serif;
}
header {
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 12vh;
  min-height: 100px;
}
header .logo {
  width: 32%;
  max-width: 120px;
  margin-top: -9px;
}
header nav ul {
  display: flex;
  margin: 1px 0 1px;
  padding: 0;
  list-style: none;
}
nav ul li {
  margin: 0px 3px;
  padding: 0px 0;
}
ul li a {
  color: #fff;
  text-decoration-line: none;
  font-weight: 500;
  font-size: 1.025rem;
  padding: 2px 7px 3px;
  border-radius: 8px;
}
ul li:nth-child(1) a {
  background: #784A1C;
  box-shadow: -1px 1px 3px #7a4b1d, -1px 1px 3px #fc9d3b;
}
ul li:nth-child(1) a:focus {
  outline-color: #966b0d;
}
ul li:nth-child(2) a {
  background: #854032;
  box-shadow: -1px 1px 3px #783a2e, -1px 1px 3px #fa785f;
}
ul li:nth-child(2) a:focus {
  outline-color: #c7371b;
}
ul li:nth-child(3) a {
  background-color: #484847;
  box-shadow: -1px 1px 3px #3d3d3c, -1px 1px 3px #535352;
}
ul li:nth-child(3) a:focus {
  outline-color: #3c3c39;
}
ul li:nth-child(4) a {
  background-color: #515A30;
  box-shadow: -1px 1px 3px #596534, -1px 1px 3px #b9d16c;
}
ul li:nth-child(4) a:focus {
  outline-color: #8c9f52;
}
ul li a:focus {
  outline-style: dashed;
  outline-width: 0.15rem;
  outline-offset: 2px;
}
/* ******************* */
/*  ** About Conf. **  */
/* ******************* */
main .conf {
  padding: 10px 20px;
  color: #fff;
}
.conf.conf-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  padding-bottom: 50px;
  background-color: #ba742c;
  text-align: center;
}
.about-head {
  width: min-content;
}
.about-head h1 {
  margin: 5px 0;
  line-height: 2.25rem;
  font-size: 1.65em;
  min-width: fit-content;
  width: 250px;
  text-align: center;
  text-shadow: -2px 2px 6px black;
}
.conf-about p {
  padding: 15px 20px;
  margin: 5px 10px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.75rem;
  text-shadow: -1px 1px 2px black;
}
.conf-about p:nth-child(2) {
  width: 309px;
}
.conf-about p:last-of-type {
  margin: 30px 0 10px;
  padding: 0 70px;
  width: 205px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}
.conf-about a.conduct {
  margin: 10px 0 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 0px 3px #000;
}
.conf-about a.conduct:focus {
  outline-color: #432a11;
  outline-style: dashed;
  outline-width: 0.2rem;
  outline-offset: 6px;
}
/* ************** */
/*  ** Agenda **  */
/* ************** */
div.conf-agenda {
  background-color: #ba5946;
}
.agenda {
  margin: 1.75rem 0 1.5rem;
}
.agenda h2 {
  font-size: 1.75rem;
  text-align: center;
  margin: 0 0 0.5rem;
  text-shadow: -1px 1px 4px #000;
}
.agenda p {
  text-align: center;
  font-size: 0.85rem;
  margin: 0;
}
.conf-agenda .day-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.day-head h3 {
  font-size: 1.4rem;
  margin: 0.5rem 0 1.5rem;
  padding: 0.25rem 4.5rem;
  border: solid #d3eae1;
  border-right: unset;
  border-left: unset;
  text-align: center;
  text-shadow: -1px 1px 1px #000;
}
.day-head span {
  font-size: 1.15rem;
}
.agenda-day {
  margin-bottom: 3rem;
}
.agenda-content {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}
.agenda-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.agenda-item .time {
  font-size: 1.5rem;
}
.time .fa {
  transform: translate(-5px, -2px);
  font-size: 1.15rem;
}
.agenda-item h4 {
  margin: 0.75rem 0;
  text-align: center;
  width: 340px;
  font-size: 1.45rem;
}
.agenda-item h4 span {
  font-style: italic;
  font-size: 1.15rem;
}
.agenda-item a {
  color: #fff;
  line-height: 1.5rem;
  font-size: 1.05rem;
}
.agenda-item div.panel-container {
  margin-bottom: 10px;
}
.agenda-item .breakout {
  margin: 5px;
  text-align: center;
}
.agenda-content h5 {
  text-align: center;
  margin: 0;
  font-size: 1.1rem;
}
.agenda-item .panel-h5 {
  margin: 10px 0 5px;
}
.panel-h5 span {
  font-style: italic;
}
.agenda-item p.panel {
  margin: 6px;
  text-align: center;
}
.agenda-item a, .breakout span {
  font-style: italic;
}
.breakout h5 span {
  font-weight: 600;
  font-size: 1.05rem;
}
.agenda-item a:focus {
  outline-color: #6b2e22;
  outline-style: dashed;
  outline-width: 0.2rem;
  outline-offset: 2px;
}
.last-content {
  margin: inherit;
}
.last-item h3 {
  font-size: 1.5rem;
  margin: 0.75rem 0;
  padding: 0.25rem 4rem;
  margin-bottom: 1.5rem;
  border: solid #d3eae1;
  border-right: unset;
  border-left: unset;
}
.last-item h4 a {
  display: block;
  line-height: 1.5rem;
}
.last-item h4 a:first-of-type {
  margin-top: 10px;
}
.last-item h5 {
  text-align: center;
  line-height: 1.75;
  margin: 18px 0 0;
  font-size: 1.5rem;
}
.last-item h5 a {
  display: block;
  font-size: 1.35rem;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 8px 26px;
  text-decoration-line: none;
  background: #ba5946;
  border-radius: 20px;
  box-shadow:  8px 8px 14px #9e4c3c, -8px -8px 14px #d66651;
}
.last-item h5 a:hover {
  font-size: 1.325rem;
  transform: scale(1.01);
  box-shadow: 4px 4px 7px #9e4c3c, -4px -4px 7px #d66651;
}
.last-item h5 a:focus {
  outline-color: #6f362b;
  outline-style: dashed;
  outline-width: 0.25rem;
  outline-offset: 15px;
}
.last-item h5 a:active {
  font-size: 1.3rem;
  transform: scale(1.02);
  box-shadow: inset 8px 8px 14px #9e4c3c, inset -8px -8px 14px #d66651;
  outline-offset: 14px;
}
/* **************** */
/*  ** Speakers **  */
/* **************** */
div.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}
.speaker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px 0;
}
.speakers h2 {
  font-size: 1.8rem;
  margin: 30px 0 10px;
  text-align: center;
  text-shadow: -2px 2px 5px #4848478f;
}
.speakers h2, .speakers .speaker-container, .speakers .speaker-container a {
  color: #484847;
}
.speaker-image {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 150px;
}
.speaker-container h3 {
  margin: 15px 0 5px;
  font-size: 1.35rem;
  text-shadow: -1px 1px 3px #4848478f;
}
.speaker-container p.pronouns {
  margin: 2px 0 0 0;
  font-size: 1rem;
  font-weight: bold;
}
.speaker-container a.social-media {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: bold;
}
.speaker-container a:nth-last-of-type(2) {
  margin-bottom: 5px;
}
.speaker-container span {
  font-size: 0.75rem;
  font-weight: 600;
}
.speaker-container a:focus {
  outline-color: #26322d;
  outline-style: dashed;
  outline-width: 0.2rem;
  outline-offset: 2px;
}
.speaker-container a.link-agenda {
  font-size: 1.1rem;
}
.speaker-container p {
  line-height: 1.5rem;
  font-size: 1.15rem;
  width: 326px;
}
.angelina {
  background-image: url("./resources/speakers/day_1/angelina_gomez_speaker.jpg");
  background-position: -100px -34px;
  background-size: 144%;
}
.evelyn {
  background-image: url("./resources/speakers/day_1/Evelyn_Valdez-Ward_Speaker.png");
  background-position: 19px -42px;
  background-color: white;
  background-size: 103%;
}
.robert {
  background-image: url("./resources/speakers/day_1/Rob_Ulrich_Speaker.jpeg");
  background-position: -3px 0px;
  background-color: #ececea;
  background-size: 100%;
}
.dane {
  background-image: url("./resources/speakers/day_1/Dane_Samilo_Speaker.jpg");
}
.ana {
  background-image: url("./resources/speakers/day_1/Ana_Maria_Porras_Speaker.jpeg");
  background-position: 25px -4px;
  background-color: white;
}
.alyssa {
  background-image: url("./resources/speakers/day_1/Alyssa_Paparella_Speaker.JPG");
  background-position: 0px -12px;
  background-size: 115%;
}
.rey {
  background-image: url("./resources/speakers/day_1/Reyhaneh_Maktoufi_Speaker.jpg");
  background-position: -116px -11px;
  background-size: 158%;
}
.celina {
  background-image: url("./resources/speakers/day_1/Celina_Valencia_Speaker.png");
  background-position: -5px 0px;
  background-size: 104%;
}
.emily {
  background-image: url("./resources/speakers/day_2/Emily_Turner_Speaker.jpg");
  background-position: 0px 0px;
}
.samia {
  background-image: url("./resources/speakers/day_1/Samia_El_Joueidi_Speaker.jpg");
  background-position: -14px -11px;
  background-size: 115%;
}
.samantha {
  background-image: url("./resources/speakers/day_2/samantha_yammine_speaker.jpg");
  background-position: -20px -25px;
  background-size: 107%;
}
.sophie {
  background-image: url("./resources/speakers/day_2/sophie_okolo_speaker.jpg");
  background-repeat: no-repeat;
  background-position: -31px 5px;
  background-size: 109%;
  background-color: #604f3d;
}
.ans {
  background-image: url("./resources/speakers/day_2/Ans_Irfan_Speaker.jpg");
  background-position: -35px -69px;
  background-size: 137%;
}
.robin {
  background-image: url("./resources/speakers/day_2/robin_aguilar_speaker.jpg");
  background-position: -60px -5px;
  background-size: 140%;
}
.mani {
  background-image: url("./resources/speakers/day_3/mani_garcía_speaker.jpg");
  background-position: -4px -43px;
  background-size: 119%;
}
.hailey {
  background-image: url("./resources/speakers/day_3/Hailey_Levi_Speaker.png");
  background-position-y: -60px;
}
.christopher {
  background-image: url("./resources/speakers/day_3/chris_jackson_speaker.jpg");
  background-position: -13px -20px;
  background-color: #e6e7e9;
}
.adys {
  background-image: url("./resources/speakers/day_3/adys_mendizabal_speaker.jpg");
  background-position: -117px -31px;
  background-size: 174%;
}
/* ************** */
/*  ** Donors **  */
/* ************** */
div.donors {
  background-color: #899b51;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.donors h2 {
  font-size: 1.8rem;
  text-align: center;
  margin: 20px 0;
  text-shadow: -2px 2px 5px #484847d1;
}
.donors p {
  text-align: center;
  font-size: 1.15rem;
  margin: 15px 0;
  line-height: 1.75rem;
  text-shadow: -1px 1px 3px #4848478f;
}
.donors p:nth-child(3) {
  margin: 0;
}
.donors p:nth-child(4) {
  width: 325px;
}
.donors p:nth-last-child(2) {
  width: 462px;
}
.donors p:nth-last-child(2), .donors p:last-child {
  font-weight: 500;
}
.donors p:last-child a {
  display: block;
  font-size: 1.35rem;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  margin: 20px 90px 0;
  padding: 8px 0px;
  text-decoration-line: none;
  background: #899b51;
  border-radius: 20px;
  box-shadow:  8px 8px 14px #748445, -8px -8px 14px #9eb25d;
}
.donors p:last-child a:hover {
  font-size: 1.325rem;
  transform: scale(1.01);
  box-shadow: 4px 4px 7px #748445, -4px -4px 7px #9eb25d;
}
.donors p:last-child a:active {
  font-size: 1.3rem;
  transform: scale(1.02);
  box-shadow: inset 8px 8px 14px #748445, inset -8px -8px 14px #9eb25d;
}
.donors p:last-child a:focus {
  outline-color: #171c06;
  outline-style: dashed;
  outline-width: 4px;
  outline-offset: 12px;
}
div.about-us {
  background-color:#dbb052;
}
/* ************** */
/*  ** Footer **  */
/* ************** */
footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  background-color: rgba(0, 0, 0, 0.97);
}
footer a {
  display: flex;
  justify-content: center;
  width: 40px;
}
footer .twitter {
  max-width: 40px;
}
footer .patreon-logo {
  max-width: 28px;
}
footer .fa {
  color: #ff937e;
  font-size: 1.25rem;
  margin: 0 20px;
}
footer .email-modal {
  position: absolute;
  color: white;
  bottom: 43px;
  background: rgb(72 72 72 / 0.7);
  border-radius: 10px;
}
.email-modal p {
  margin: 0;
  padding: 5px;
}
.hidden {
  display: none;
}
/* *************** */
/*  ** Queries **  */
/* *************** */
@media only screen and (min-width: 768px) {
  header {
    height: 14vh;
    max-height: 138px;
  }
  header .logo {
    width: 22%;
    max-width: 162px;
  }
  header nav ul {
    margin: 0px 0 3px;
  }
  nav ul li {
    padding: 0px;
    margin: 5px 10px;
  }
  ul li a {
    font-size: 1.15rem;
    padding: 2px 10px 3px;
  }
  ul li a:focus {
    outline-offset: 6px;
    outline-width: 0.2rem;
  }
  .about-head {
    margin: 20px 0 15px;
  }
  .about-head h1 {
    font-size: 2.25rem;
    width: 335px;
    line-height: 3rem;
  }
  .conf-about p {
    font-size: 1.45rem;
    width: 400px;
    margin: 10px;
    line-height: 2.25rem;
  }
  .conf-about p:nth-child(2) {
    width: 505px;
  }
  .conf-about p:last-of-type {
    width: 265px;
    font-size: 1.65rem;
    line-height: 2.25rem;
    margin-bottom: 30px;
  }
  .conf-about a.conduct {
    font-size: 1.35rem;
  }
  .conf-about a.conduct:focus {
    outline-offset: 10px;
    outline-width: 5px;
  }
  .agenda {
    margin: 3rem 0 2.5rem;
  }
  .agenda p {
    font-size: 0.95rem;
  }
  .agenda h2 {
    font-size: 1.95rem;
  }
  .agenda-day {
    margin-bottom: 5rem;
  }
  .day-head span {
    font-size: 1.35rem;
  }
  .day-head h3 {
    font-size: 1.75rem;
    padding: 0.5rem 9rem;
  }
  .agenda-item {
    margin-top: 30px 100px;
  }
  .agenda-item .time {
    font-size: 1.7rem;
  }
  .agenda-item h4 {
    font-size: 1.3rem;
  }
  .agenda-item h4 span {
    font-size: 1.25rem;
  }
  .agenda-item .breakout {
    margin: 15px 0;
    line-height: 1.65rem;
  }
  .agenda-item h5 {
    font-size: 1.15rem;
    margin-bottom: 0.15rem;
  }
  .agenda-item h5 span {
    font-size: 1.1rem;
  }
  .agenda-item a {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .panel {
    font-size: 1.125rem;
  }
  .speaker-container {
    display: flex;
    margin: 30px 0;
  }
  .speakers h2 {
    font-size: 2rem;
    margin: 40px 0 15px;
  }
  .speaker-container h3 {
    margin: 15px 0 5px;
    font-size: 1.35rem;
  }
  .speaker-container a.link-agenda {
    font-size: 1.25rem;
  }
  .speaker-container p {
    line-height: 1.75rem;
    font-size: 1.25rem;
    width: 505px;
  }
  .comedians h2 {
    font-size: 2rem;
    margin: 40px 0 15px;
  }
  .donors h2 {
    font-size: 2rem;
  }
  .donors p {
    font-size: 1.35rem;
    margin: 1.5rem 0;
  }
  .donors p:nth-child(4) {
    width: 380px;
  }
  .donors p:nth-last-child(2) {
    width: 590px;
    margin: 15px 0;
  }
}
@media only screen and (min-width: 992px) {
  header {
    height: 12vh;
    max-height: 165px;
  }
  header .logo {
    width: 20%;
    max-width: 190px;
  }
  header nav {
    margin: 4px 0 0;
  }
  .about-head {
    margin: 50px 0 30px;
  }
  .about-head h1 {
    font-size: 2.75rem;
    width: 400px;
    line-height: 3.5rem;
  }
  .conf-about p {
    width: 476px;
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin: 20px;
  }
  .conf-about p:nth-child(2) {
    width: 635px;
  }
  .conf-about p:last-of-type {
    font-size: 1.85rem;
    width: 300px;
    margin: 40px;
    line-height: 2.5rem;
  }
  .conf-about a.conduct {
    font-size: 1.55rem
  }
  .conf-about div.text {
    width: 75%;
    margin-bottom: 20px;
  }
  .agenda {
    margin: 2.5rem 0 2.2rem;
  }
  .agenda h2 {
    font-size: 2.1rem;
    margin: 0 0 0.7rem;
  }
  .agenda p {
    font-size: 1.10rem;
  }
  .day-head h3 {
    font-size: 1.5rem;
    padding-left: 17rem;
    padding-right: 17rem;
    margin-bottom: 0.75rem;
  }
  .agenda-content {
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1.35rem;
  }
  .agenda-item {
    margin: 0.75rem 30px;
    width: 32%;
    min-width: 286px;
  }
  .agenda-item.bonus {
    width: 35%;
  }
  .last-item h4 a {
    line-height: 1.75rem;
  }
  .speaker-container {
    margin: 30px 0;
  }
  .speakers h2 {
    font-size: 2.15rem;
    margin: 50px 0 25px;
  }
  .speaker-container h3 {
    margin: 15px 0 5px;
    font-size: 1.5rem;
  }
  .speaker-container p {
    line-height: 1.85rem;
    font-size: 1.35rem;
    width: 595px;
  }
  .comedians h2 {
    font-size: 2.15rem;
    margin: 50px 0 25px;
  }
  .donors h2 {
    font-size: 2.15rem;
  }
  .donors p {
    font-size: 1.45rem;
  }
  .donors p:nth-child(4) {
    width: 415px;
  }
  .donors p:nth-last-child(2) {
    width: 635px;
    margin: 3rem 0 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .conf-about p {
    width: 70%;
  }
  .agenda {
    margin-top: 1rem;
  }
  .agenda h2 {
    font-size: 1.8rem;
  }
  .agenda-day {
    margin: 3rem 0 5rem 0;
  }
  .day-head h3 {
    font-size: 1.5rem;
    padding-left: 25rem;
    padding-right: 25rem;
  }
  .day-head span {
    font-size: 1.3rem
  }
  .agenda-content {
    margin-top: 2rem;
  }
  .agenda-item {
    margin: 1.5rem 30px;
  }
  .agenda-item h4 {
    font-size: 1.25rem
  }
}
@media only screen and (orientation: landscape) {
  header {
    height: 16vh;
    min-height: 90px;
  }
  header .logo {
    width: 15%;
  }
  .about-head {
    margin: 5px 0 0;
  }
  .about-head h1 {
    line-height: 2rem;
  }
  .conf-about p {
    width: 282px;
  }
  .conf-about p:nth-child(2) {
    width: 420px;
    margin: 0;
  }
  .conf-about p:last-of-type {
    margin: 25px 0 10px;
  }
  .agenda {
    margin: 1.25rem 0 1rem;
  }
  .agenda h2 {
    font-size: 1.5rem;
  }
  .speaker-container {
    margin: 30px 0;
  }
  .speakers h2 {
    font-size: 1.8rem;
    margin: 15px 0 5px;
  }
  .speaker-container h3 {
    margin: 15px 0 5px;
    font-size: 1.25rem;
  }
  .speaker-container p {
    line-height: 1.5rem;
    font-size: 1.05rem;
    width: 456px;
  }
  .comedians h2 {
    font-size: 1.8rem;
    margin: 15px 0 5px;
  }
  div.donors {
    padding: 15px 0 20px;
  }
  .donors h2 {
    font-size: 1.8rem;;
  }
}
@media only screen and (orientation: landscape) and (min-width: 720px) {
  header {
    height: 23vh;
  }
  .about-head {
    margin: 0;
  }
  .conf-about p:nth-child(2) {
    margin: revert;
  }
}
@media only screen and (orientation: landscape) and (min-width: 768px) {
  header {
    height: 26vh;
  }
  header .logo {
    width: 13%;
    margin-top: -2px;
  }
  ul li a:focus {
    outline-offset: 4px;
    outline-width: 0.2rem;
  }
  .about-head h1 {
    font-size: 1.65rem;
    line-height: 1.85rem;
    margin: 5px 0 0;
  }
  .conf-about p {
    font-size: 1.25rem;
    width: 305px;
  }
  .conf-about p:nth-child(2) {
    width: 600px;
    margin: 10px 0;
  }
  .conf-about p:last-of-type {
    font-size: 1.45rem;
    margin: 20px 0 10px;
  }
  .conf-about a.conduct {
    font-size: 1.2rem;
  }
  .agenda {
    margin: 1.5rem 0 1.25rem;
  }
}
@media only screen and (orientation: landscape) and (min-width: 992px) {
  header {
    height: 15vh;
  }
  header .logo {
    width: 12%;
  }
  .about-head {
    margin: 25px 0 15px;
  }
  .about-head h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0;
  }
  .conf-about p {
    font-size: 1.35rem;
    width: 320px;
  }
  .conf-about p:nth-child(2) {
    width: 550px;
    margin: 10px 0 10px;
  }
  .conf-about p:last-of-type {
    width: 255px;
  }
  .agenda {
    margin: 1.75rem 0 1.5rem;
  }
  .agenda h2 {
    font-size: 1.85rem;
    margin: 0 0 0.5rem;
  }
  .speaker-container {
    margin: 50px 0;
  }
  .speakers h2 {
    font-size: 2.45rem;
    margin: 25px 0 10px;
  }
  .speaker-container h3 {
    margin: 20px 0 0;
    font-size: 1.45rem;
  }
  .speaker-container a.link-agenda {
    margin-top: 3px;
  }
  .speaker-container p {
    line-height: 1.65rem;
    font-size: 1.2rem;
    width: 585px;
  }
  .comedians h2 {
    font-size: 2.45rem;
    margin: 25px 0 10px;
  }
  div.donors {
    padding: 20px 0 25px;
  }
  .donors h2 {
    font-size: 2.45rem;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1200px) {
  header {
    height: 14vh;
    min-height: 132px;
    max-height: 205px;
  }
  header .logo {
    width: 11%;
    min-width: 150px;
    max-width: 182px;
  }
  header nav ul {
    padding: 0;
  }
  nav ul li {
    margin: 0 6px;
    padding: 2px 5px 7px;
  }
  ul li a:focus {
    outline-offset: 7px;
  }
  .about-head {
    margin: 35px 0 25px;
  }
  .about-head h1 {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  .conf-about p {
    font-size: 1.4rem;
    width: 465px;
  }
  .conf-about p:last-of-type {
    font-size: 1.65rem;
    width: 250px;
    margin: 25px 0;
  }
  .conf-about a.conduct {
    font-size: 1.3rem;
  }
  .speaker-container {
    margin: 55px 0;
  }
  .speakers h2 {
    font-size: 2.55rem;
    margin: 30px 0 15px;
  }
  .speaker-container h3 {
    margin: 20px 0 0;
    font-size: 1.65rem;
  }
  .speaker-container p {
    line-height: 1.85rem;
    font-size: 1.45rem;
    width: 710px;
  }
  .comedians h2 {
    font-size: 2.55rem;
    margin: 30px 0 15px;
  }
  .comedians .speaker-container p {
    font-weight: 400;
  }
  div.donors {
    padding: 25px 0 30px;
  }
  .donors h2 {
    font-size: 2.55rem;
  }
  .donors p {
    font-size: 1.55rem;
    line-height: 1.9rem;
  }
  .donors p:nth-child(4) {
    width: 445px;
  }
  .donors p:nth-last-child(2) {
    width: 680px;
  }
  .donors p:last-child a {
    margin-top: 25px;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1720px) {
  header {
    min-height: 153px;
  }
  header .logo {
    margin-top: -7px;
  }
}
